<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <%= image_tag @actor.actor_image.detail.url %>
</p>


<p>
  <b>Age:</b>
  <%= @actor.age %>
</p>

<p>
  <b>Nick-name:</b>
  <%= @actor.nick_name %>
</p>

<p>
  <b>Movies:</b>
  <% @actor.movies.each do |movie| %>
  <%= link_to movie.name, movie_path(movie) %>
  <% end %>
  <br>
</p>

<p>
  <b>Characters:</b>
  <% @actor.characters.each do |character| %>
  <%= link_to character.name, character_path(character) %>
  <% end %>
  <br>
</p>

<% if can? :create, Actor%>
<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
<% end %>
