<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <%= image_tag @actor.actor_image.detail.url %>
</p>


<p>
  <b>Age:</b>
  <%= @actor.age %>
</p>

<p>
  <b>Nick-name:</b>
  <%= @actor.nick_name %>
</p>



<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
