<h1>Listing movies</h1>
<%= render 'search' %>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Rating</th>
    <th>Year</th>
    <th>Run time</th>
    <th>Director</th>

    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= image_tag movie.movie_image.thumb.url %></td>
    <td><%= link_to movie.name, movie_path(movie)%></td>
    <td><%= movie.rating %></td>
    <td><%= movie.year %></td>
    <td><%= movie.run_time %></td>
    <td><%= movie.director %></td>
    <% if can? :create, Movie%>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'New Movie', new_movie_path %>



