<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <%= image_tag @character.character_image.detail.url %>
</p>

<p>
  <b>Gender:</b>
  <%= @character.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Description:</b>
  <%= @character.description %>
</p>

<p>
  <b>Actors:</b>
  <% @character.actors.each do |actor| %>
  <%= link_to actor.name, actor_path(actor) %> -
  <% end %>
  <br>
</p>

<p>
  <b>Movies:</b>
  <% @character.movies.each do |movie| %>
  <%= link_to movie.name, movie_path(movie) %>
  <% end %>
  <br>
</p>

<% if can? :create, Actor%>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
<% end %>
